*{
    font-family: 'Piazzolla', serif;
}

nav, footer{
    background-color: lightskyblue;
    color: #4F4A4A;
}

h1{
    font-family: 'Sansita', sans-serif;
}

@media only screen and (min-width:50em){
    .nav{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 100%;
    }
}