div{
    width:219px;
    box-shadow: 5px 10px #888888;
    margin: 0 auto;
}

header{
    text-align: center;
    width:100%;
}

footer{
    font-size: 12px;
    text-align: center;
    width:100%;
}

table{
    text-align: center;
}

header{
    background-color: #628ca6;
}

footer{
    background-color: #628ca6;
}

.thead{
    background-color: #628ca6;
    color:white;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

.oddrow{
    background-color: #e7ffed;
}

th, td{
    border: 1px solid grey;
}

td:hover{
    background-color: #628ca6;
}

header{
    font-size: 20px;
    font-weight: bold;;
}
section{
    width:100%;
}