h1{
    text-align: center;
}
.thanks{
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
    border:2px solid darkblue;
    box-shadow: 5px 5px 5px 5px rgb(20, 134, 206);
    margin-bottom: 20px;
}
