header img{
    float:left;
    max-width:10px;
}


main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*max-width:100%;*/
    /*grid-template-columns: auto;*/
}

.page {
    margin-left: auto;
    margin-right: auto;
}