/* Small Phone View */
*{
	font-family: 'Ubuntu', sans-serif;
}

p{
	font-family: 'Inconsolata', sans-serif;
}

.logoImg{
	width:100%;
	margin-top: 8px;
}

#logo{
	width:80px;
	height:80px;
}

.topItems{
	display:grid;
	grid-template-columns: repeat(2,1fr);
	width: 150px;
	height:120px;
	border: 1px solid black;
	-webkit-box-shadow: inset 0 0 10px #fb48b3;
	box-shadow:         inset 0 0 10px #fb48b3;
}
/* .topItems:hover{
	box-shadow: rgb(213, 210, 208) 5px 5px 15px, rgb(255, 255, 255) -5px -5px 15px;
	background-color: #fb48b3;
}  */

.top-top-items{
	width: 150px;
	-webkit-box-shadow: 0 0 10px #75d8f3;
  	box-shadow: 0 0 10px #75d8f3;
}

.top-top-top-items{
	width:100%;
	border: 1px solid black;
	-webkit-box-shadow: inset 0 0 10px #fb48b3;
	box-shadow: inset 0 0 10px #fb48b3;
}

.top-top-top-top-items{
	width:100%;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 10px #75d8f3;
  	box-shadow: 0 0 10px #75d8f3;
}
nav {
	margin: 0 auto;
	max-width: 100%;
	/* background-color: lightskyblue; */
}

.navigation {
	list-style: none;
	padding: 0;
	margin-top: 15px;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	font-weight: 700;
}

.responsive li {
	display: block;
	margin-right:0;
}
.responsive{
	display:grid;
	grid-template-columns: repeat(4,1fr);
}

.responsive .n_services{
	grid-row: 2/3;
	grid-column:2/3;
}

.responsive .n_reservation{
	grid-row: 2/3;
	grid-column:3/4;
}

.big_header{
	text-shadow: 2px 2px 5px #75d8f3;
	margin-bottom: -10px;
}

.motto{
	text-shadow: 2px 2px 5px #fb48b3;
}

.infoSection{
	-webkit-box-shadow: inset 0 0 10px #fb48b3;
	box-shadow: inset 0 0 10px #fb48b3;
	padding: 5px;
	border: 1px solid black;
}

.top-infoSection{
	-webkit-box-shadow: 0 0 10px #75d8f3;
	box-shadow: 0 0 10px #75d8f3;
	border: 1px solid black;
	margin-top: 10px;
}

.SS{
	width:20px;
	height:20px;
	border: 1px solid black;
	padding: 2px;
}

.icon_section{
	margin-top:-10px;
}

.arrow{
	width:40px;
	height:40px;
	margin-top: 20px;
	margin-left:-10px;
}

.company_info{
	display:grid;
	grid-template-columns: repeat(2,1fr);
	width:250px;
}

.company_info_detail{
	margin-top:-5px;
}


.reference{
	font-size:12px;
}

.legal{
	display:grid;
	grid-template-columns: repeat(2,1fr);
	width:250px;
}

.legal_arrow{
	margin-top: 10px;
} 

.title{
	text-align: center;
}

.SiteName{
	text-align: center;
}

.contact_info .company_info_detail{
	display:none;
}
.legal_container .legal_detail{
	display:none;
}

.expand .company_info_detail{
	display:block;
}

.open .legal_detail{
	display:block;
	margin-top:-5px;
}

.active{
	background-color:antiquewhite;
}

.footer{
	width:400px;
	margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

.temple_container{
	width:400px;
	margin:0 auto;
}

.bannerPic{
	width:400px;
	height:300px;
}

.iconSection{
	display:grid;
	grid-template-columns: repeat(2,1fr);
}

.dropDown{
	display:grid;
	grid-template-columns: repeat(2,1fr);
	width:360px;
	border: 1px solid white;
	-webkit-box-shadow: 0 0 10px #fb48b3;
	box-shadow: 0 0 10px #fb48b3;
	padding-left: 10px;  
	margin-bottom: 20px;
}

.temple_arrow{
	width:20px;
	height:20px;
	margin-top: 15px;
	margin-left:-25px;
}

.templeTP{
	padding: 10px;
	border: 1px solid black;
	margin: 15px auto;
	border-radius: 25px;
	-webkit-box-shadow: 0 0 10px #75d8f3;
  	box-shadow: 0 0 10px #75d8f3;
}

.templeFL{
	padding: 10px;
	border: 1px solid black;
	margin: 15px auto;
	border-radius: 25px;
	-webkit-box-shadow: 0 0 10px #75d8f3;
  	box-shadow: 0 0 10px #75d8f3;
}

.templeOL{
	padding: 10px;
	border: 1px solid black;
	margin: 15px auto;
	border-radius: 25px;
	-webkit-box-shadow: 0 0 10px #75d8f3;
  	box-shadow: 0 0 10px #75d8f3;
}

.templeTY{
	padding: 10px;
	border: 1px solid black;
	margin: 15px auto;
	border-radius: 25px;
	-webkit-box-shadow: 0 0 10px #75d8f3;
  	box-shadow: 0 0 10px #75d8f3;
}

.templeEG{
	padding: 10px;
	border: 1px solid black;
	margin: 15px auto;
	border-radius: 25px;
	-webkit-box-shadow: 0 0 10px #75d8f3;
  	box-shadow: 0 0 10px #75d8f3;
}

.temple_banner{
	display:none;
}

.drop1_TP .temple_banner{
	display:block;
	margin:0 auto;
	width:400px;
}

.drop1_FL .temple_banner{
	display:block;
}

.drop1_OL .temple_banner{
	display:block;
}

.drop1_TY .temple_banner{
	display:block;
}

.drop1_EG .temple_banner{
	display:block;
}

.temple_basic_info{
	display:none;
}

.drop1_TP .temple_basic_info{
	display:block;
}

.drop1_FL .temple_basic_info{
	display:block;
}

.drop1_OL .temple_basic_info{
	display:block;
}

.drop1_TY .temple_basic_info{
	display:block;
}

.drop1_EG .temple_basic_info{
	display:block;
}

.temple_services{
	display:none;
}

.drop2_TP .temple_services{
	display:block;
}

.drop2_FL .temple_services{
	display:block;
}

.drop2_OL .temple_services{
	display:block;
}

.drop2_TY .temple_services{
	display:block;
}

.drop2_EG .temple_services{
	display:block;
}

.milestones{
	display:none;
}

.drop3_TP .milestones{
	display:block;
}

.drop3_FL .milestones{
	display:block;
}

.drop3_OL .milestones{
	display:block;
}

.drop3_TY .milestones{
	display:block;
}

.drop3_EG .milestones{
	display:block;
}

.history{
	display:none;
}

.drop4_TP .history{
	display:block;
}

.drop4_FL .history{
	display:block;
}

.drop4_OL .history{
	display:block;
}

.drop4_TY .history{
	display:block;
}

.drop4_EG .history{
	display:block;
}

.weather{
	display:none;
}

.drop5_TP .weather{
	display:block;
}

.drop5_TP .weather{
	display:block;
}
.drop5_FL .weather{
	display:block;
}
.drop5_OL .weather{
	display:block;
}
.drop5_TY .weather{
	display:block;
}
.drop5_EG .weather{
	display:block;
}

.big_banner{
	display:none;
}

.mid_banner{
	display:none;
}

.sml_banner{
	margin:0 auto;
	width:300px;
	margin-left:35px;
}

.icon_img{
	width: 50px;
	height: 50px;
	margin-left: 70px;
}

.iconSection{
	width:400px;
	margin-bottom: 10px;
}

.icon_name{
	margin-left:-70px;
}
/* Medium Phone View */
@media only screen and (min-width: 700px) {
	.navigation {
		display: flex;
	}

	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
		text-decoration: none;
		color:black;
		text-shadow: 2px 2px 5px #75d8f3;
	}

	.navigation li:first-child {
		display: none;
	}

	.topItems{
		width: 100%;
		grid-template-columns: 60px 1fr;
	}

	.navigation{
		margin-left: -30px;
	}

	.top-top-items{
		width:100%;
	}

	.top-infoSection{
		width:80%;
		margin: 0 auto;
	}

	.footer{
		width:650px;
		margin: 0 auto;
	}
	
	.top-infoSection{
		width:100%;
	}

	.footer{
	
		width:650px;
	}
	.temple_container{
		width:650px;
		margin:0 auto;
	}

	.sml_banner{
		display:none;
	}

	.mid_banner{
		display:block;
		width:550px;
		height:400px;
		margin-right:0px;
		margin-left:-80px;
	}
	.dropDown{
		width:550px;
		margin:0 auto;
	}

	.temple_basic_info{
		width:550px;
		margin: 0 auto;
	}

	.temple_services{
		width:550px;
		margin: 0 auto;
	}

	.milestones{
		width:550px;
		margin: 0 auto;
	}

	.history{
		width:550px;
		margin: 0 auto;
	}

	.weather{
		width:550px;
		margin: 0 auto;
	}

	.drop1_FL .mid_banner{
		margin-left: 40px;
	}

	.drop1_OL .mid_banner{
		margin-left: 40px;
	}

	.drop1_TY .mid_banner{
		margin-left: 40px;
	}

	.drop1_EG .mid_banner{
		margin-left: 40px;
	}

}
/* Large Phone View */
@media only screen and (min-width: 1000px) {
	.footer{
		width:950px;
	}
	.bannerPic{
		width:950px;
		height:400px;
	}
	
	.temple_container{
		width:950px;
		margin:0 auto;
	}
	.dropDown{
		width:900px;
		margin:0 auto;
	}

	.temple_basic_info{
		width:900px;
		margin: 0 auto;
	}

	.temple_services{
		width:900px;
		margin: 0 auto;
	}

	.milestones{
		width:900px;
		margin: 0 auto;
	}

	.history{
		width:900px;
		margin: 0 auto;
	}

	.weather{
		width:900px;
		margin: 0 auto;
	}

	.mid_banner{
		display:none;
	}

	.big_banner{
		display: block;
		margin-left:20px;
		width:900px;
	}

	.drop1_TP .big_banner{
		margin-left:-250px;
	}
}
